<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', "data-turbolinks-track": "reload"%>
  <%= javascript_pack_tag 'application', "data-turbolinks-track": "reload" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- <link rel="stylesheet" href="navbar.css"> -->
  <title>Homepage Mockup</title>
</head>
<body>
  <div class="background"></div>
  <div class="container">
    <header>
      <div class="logo">
        <%= image_tag 'logo_dr.png' %>
      </div>
      <nav class="navbar">
          <a href="changelog.html">Changelog</a>
          <a href="#">Developer</a>
          <a href="#">Bantuan</a>

          <%# IMPROVEMENT %>
          <%# Kedepannya, hilangkan mode FORM untuk link2 tersebut. Gunakan hanya LINK atau BUTTON %>
          <% if user_signed_in? %>
            <%= link_to 'Dashboard', console_payments_path %>
            <%= form_with url: destroy_user_session_path, method: :delete do %>
              <%# USE button_tag INSTEAD f.button FOR INCLUDING span TAG %>
              <%= button_tag(type: 'submit', class: "btn submit", id: 'validForm') do %>
                <span style="color: #fff; font-weight: 500; font-size: 17px;">Keluar</span>
              <% end %>
            <% end %>         
          <% else %>
            <form action="<%= new_user_session_path %>">
              <button type="submit"><span style="color: #fff; font-weight: 500; font-size: 17px;">Masuk</span></button>
            </form>          
          <% end %>

      </nav>
      <!-- Mobile Navbar -->
      <div id="homeSideNav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav('homeSideNav')">&times;</a>
          <a href="#">Changelog</a>
          <a href="#">Developer</a>
          <a href="404.html">Bantuan</a>
          <% if user_signed_in? %>
          <a href="404.html">Dashboard</a>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Login', new_user_session_path %>
          <% end %>
      </div>    
      <div class="hamburger-menu" onclick="openSideNav('homeSideNav')">
          <div></div>
          <div></div>
          <div></div>
      </div>
      <!-- End Mobile Navbar -->
  
    </header>
    <article class="home">
      <div class="tagline">
        <h1>Informasi Pondok Pesantren</h1>
        <h1><span>Kini Telah Terintegrasi Dengan Baik</span></h1>
        <hr>
        <p>Memperkenalkan</p>
        <h2>Integrated Smart System</h2>
        <h3>Pondok Pesantren Daarul Rahman</h3>
      </div>
      <div class="image-main">
        <%= image_tag 'lambang_dr_jakarta.png' %>
      </div>
      <form action="<%= new_user_session_path %>">
        <button class="start" type="submit"><span>Mari kita mulai</span><i class="bi bi-arrow-right-short"></i></button>
      </form>
    </article>
    <footer>
      <div>
        <p class="desktop">&copy 2021 Copyright Pondok Pesantren Daarul Rahman | Made with <i class="bi bi-heart-fill" style="color: red;"></i> by Abdul Hakim Ghaniy</p>
        <p class="mobile">&copy 2021 Copyright Pondok Pesantren Daarul Rahman</p>
      </div>
    </footer>
  </div>
</body>
</html>