<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '_register', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "data-turbolinks-track": "reload"%>
    <%= javascript_pack_tag 'application', "data-turbolinks-track": "reload" %>  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <title>Register</title>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <header>
            <div class="logo">
                <%= image_tag 'logo_dr.png' %>
            </div>
        </header>

        <div class="content">
            <article>
                <section class="register title">
                    <!-- <h1>Register</h1>
                    <p>Daftar untuk kemudahan transaksi dan informasi pembayaran pesantren</p> -->
                    <h1>Claim Profile</h1>
                    <p>Masukkan NISN untuk menghubungkan Akun ini dengan Data Diri Santri</p>
                </section>
                <section class="register form">
                    <%= render partial: @after_register_partial %>
                </section>  
            </article> 
    
            <aside class="hero-image">
                <%= image_tag 'hero-image.png' %>
            </aside> 
    
        </div>
        <footer>
            <div>
              <p class="desktop">&copy 2021 Copyright Pondok Pesantren Daarul Rahman | Made with <i class="bi bi-heart-fill" style="color: red;"></i> by Abdul Hakim Ghaniy</p>
              <p class="mobile">&copy 2021 Copyright Pondok Pesantren Daarul Rahman</p>
            </div>
        </footer>
    </div>
</body>
</html>